:root {
  --grey: #2B343D;
  --aqua: #21B2A6;
  --purple: #505393;
  --darkpurple: #3F4174;
}
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey);
}

